* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    padding: 20px 200px;
    display: flex;
    background-color: #FCE14C;
    height: 200px;
    align-items: center;
}
.header img {
    height: 100%;
}
.searchInput {
    width: 100%;
    height: 20%;
    border: none;
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0px 10px;
    outline: none;
}
.searchButton {
    height: 20%;
    padding: 10px 20px;
    border: none;
    border-radius: 0.5rem;
}
.searchButton:hover {
    background-color: #888;
}
.hero {
    background-image: url("https://http2.mlstatic.com/D_NQ_963172-MLA97798572334_112025-OO.webp") ;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}
.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}
.hero p1 {
    font-size: 24px;
}
.footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    border-top: 2px solid #FDE600;
}